[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
base64 = "*"
pylint = "*"
torchvision = "*"
flask-cors = "*"
tensorflow-io-gcs-filesystem = "*"

black = "*"
flask = "*"
pymongo = "*"
pytest = "*"
pillow = "*"
pytest-mock = "*"
requests = "*"
python-dotenv = "*"
bson = "*"

[dev-packages]

[requires]
python_version = "3.10"
