[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
torchvision = "*"
pytest = "*"
flask-cors = "*"
tensorflow-io-gcs-filesystem = "*"
numpy = "*"
pytest_mock = "*"
bson = "*"

[dev-packages]

[requires]
python_version = "3.10"
